<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="アルバム追加">アルバム追加</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{edit}" method="post" th:object="${userForm}">
    <ui>
        <li th:each="error : ${#fields.detailedErrors()}" >
            <span th:text="${error.message}">Error message</span>
        </li>
    </ui>
    <table class="table table-bordered">
        <tr>
            <th class="table-title" colspan="2">プロフィール</th>
            <!--/* srcファイルの場所は最終的にはjarの外部になる */-->
            <td rowspan="9"><img class="user" src="../../static/image/0.jpg"></td>
        </tr>
        <tr>
            <th>氏名</th>
            <td>
                <input type="text" name="lastName" th:field="*{lastName}" th:errorclass="hasError" />
                <input type="text" name="firstName" th:field="*{firstName}" th:errorclass="hasError" />
            </td>
        </tr>
        <tr>
            <th>社員番号</th>
            <td><input type="text" name="userId" th:field="*{userId}" th:errorclass="hasError" /></td>
        </tr>
        <tr>
            <th>年次</th>
            <td><input type="text" name="yearly" th:field="*{yearly}" th:errorclass="hasError" /></td>
        </tr>
        <tr>
            <th>性別</th>
            <td>
                <select name="sex" th:field="*{sex}" th:errorclass="hasError" >
                    <option value="0">男性</option>
                    <option value="1">女性</option>
                    <option value="*">非公開</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>血液型</th>
            <td>
                <select name="bloodType" th:field="*{bloodType}" th:errorclass="hasError" >
                    <option value="0">A型</option>
                    <option value="1">B型</option>
                    <option value="2">O型</option>
                    <option value="3">AB型</option>
                    <option value="*">非公開</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>所属チーム</th>
            <td><input type="text" name="team" th:field="*{team}" th:errorclass="hasError" /></td>
        </tr>
        <tr>
            <th>担当顧客</th>
            <td><input type="text" name="customer" th:field="*{customer}" th:errorclass="hasError" /></td>
        </tr>
        <tr>
            <th>担当案件</th>
            <td><input type="text" name="project" th:field="*{project}" th:errorclass="hasError" /></td>
        </tr>
        <tr>
            <th>プライベート</th>
            <th colspan="2">※自由記述コーナー</th>
        </tr>
        <tr>
            <td colspan="3">
                <textarea type="text" name="privateSentence" th:field="*{privateSentence}" th:errorclass="hasError" ></textarea>
            </td>
        </tr>
        <tr>
            <th>経歴</th>
            <th colspan="2"><button type="submit" name="addCareer" >行追加</button></th>
        </tr>
        <tr>
            <td colspan="3">
                <table class="mx-auto" width="80%">
                    <thead>
                    <tr>
                        <th class="table-career" colspan="2" width="15%">時期</th>
                        <th class="table-career">出来事</th>
                    </tr>
                    </thead>
                    <tbody  class="form-group" th:each="career,stat : *{histories}" >
                    <tr>
                        <input type="hidden" th:field="*{histories[__${stat.index}__].careerId}" th:errorclass="hasError" />
                        <td><input type="text" th:field="*{histories[__${stat.index}__].year}" th:errorclass="hasError" ></td>
                        <td><input type="text" th:field="*{histories[__${stat.index}__].month}" th:errorclass="hasError" ></td>
                        <td><input type="text" th:field="*{histories[__${stat.index}__].event}" th:errorclass="hasError" ></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th>コメント</th>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td colspan="3">
                <textarea type="text" name="comment" th:field="*{comment}" th:errorclass="hasError" ></textarea>
            </td>
        </tr>
    </table>
    <button type="submit" name="submit">ユーザー登録</button>
    </form>
</div>
</body>
</html>