<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="ユーザー一覧">ユーザー一覧</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/account/list.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <h1>ユーザー一覧</h1>
    <section class="search-sec">
        <div class="container">
            <h3><small class="text-muted">ユーザ検索</small></h3>
            <form th:action="@{/account/list}" action="top.html" method="get" novalidate="novalidate">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <input type="text" name="name" class="form-control search-slt" placeholder="名前（部分一致）">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <input type="text" name="employeeId" class="form-control search-slt" placeholder="社員番号">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <select class="form-control search-slt" name="admin">
                                    <option value=""></option>
                                    <option value="0">一般ユーザ</option>
                                    <option value="1">管理者</option>
                                </select>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                                <button type="submit" class="btn btn-primary">検索</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <br />
    <section class="search-edit">
        <div class="container" th:if="!${#lists.isEmpty(userList)}">
            <h3><small class="text-muted">ユーザ検索結果</small></h3>
            <form enctype="multipart/form-data" method="post" action="top.html" th:action="@{/admin/edit}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">社員番号</th>
                        <th scope="col">名前</th>
                        <th scope="col">管理者</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userList}">
                        <th scope="row"><label th:text="${user.employeeId}">123456</label></th>
                        <td><label th:text="${user.name}">山田太郎</label></td>
                        <td><input type="checkbox" th:value="${user.isAdmin}" th:checked="${user.isAdmin.equals('1')}" data-toggle="toggle" data-onstyle="success"></td>
                        <td><a href="#">パスワード変更</a></td>
                        <td><button type="button" class="btn btn-danger delete-button" data-toggle="modal" data-target="#deleteModal"
                                    th:data-employee="${user.employeeId}" th:data-name="${user.name}"
                                    th:data-delurl="${user.employeeId + '/delete'}">削除</button></td>
                    </tr>
                    <!--/*-->
                    <tr>
                        <th scope="row"><label>123456</label></th>
                        <td><label>山田太郎</label></td>
                        <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success"></td>
                        <td><a href="#">パスワード変更</a></td>
                        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">削除</button></td>
                    </tr>
                    <tr>
                        <th scope="row"><label>123456</label></th>
                        <td><label>山田太郎</label></td>
                        <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success"></td>
                        <td><a href="#">パスワード変更</a></td>
                        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">削除</button></td>
                    </tr>
                    <!--*/-->
                    </tbody>
                </table>
                <div class="float-right mb-3">
                    <button type="submit" class="btn btn-primary" name="submit">管理者情報更新</button>
                </div>
            </form>
        </div>
    </section>

    <!-- モーダルの設定 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="modal-form" method="post" th:action="@{/account/}">
                <div class="modal-body">
                    <p><span class="modal-employee"></span> <span class="modal-name"></span> を削除しますか</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    <button type="submit" class="btn btn-danger">削除</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>