<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout_noheader}">

<head>
    <meta charset="UTF-8"/>
    <title th:text="アルバム追加">アルバム追加</title>
</head>
<body>
<div layout:fragment="content">
    <form action="new.html" enctype="multipart/form-data" method="post" th:action="@{/account}" th:object="${profileForm}">
        <h1>プロフィール</h1>
        <div class="card bg-light mb-3">
            <div class="card-header">基本情報</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">名前<span class="badge badge-pill badge-danger ml-3">必須</span></label>
                        <input type="text" class="form-control" placeholder="山田太郎" th:field="*{fullName}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>社員番号<span class="badge badge-pill badge-danger ml-3">必須</span></label>
                    <input type="text" class="form-control" placeholder="123456" th:field="*{employeeId}"/>
                </div>
                <div class="form-group">
                    <label>パスワード<span class="badge badge-pill badge-danger ml-3">必須</span></label>
                    <input type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label>パスワード（確認）<span class="badge badge-pill badge-danger ml-3">必須</span></label>
                    <input type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label>顔写真<span class="badge badge-pill badge-danger ml-3">必須</span></label>
                    <input type="file" class="form-control-file" accept="image/jpeg, image/jpg"/>
                </div>
                <div class="form-group">
                    <label>新卒/中途</label>
                    <select class="form-control" th:field="*{recruitId}">
                        <option value=""></option>
                        <option th:each="recruit : ${recruitList}"
            th:value="${recruit.value}" th:text="${recruit.label}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>入社年月日</label>
                    <input type="date" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>性別</label>
                    <select class="form-control" th:field="*{genderId}">
                        <option value=""></option>
                        <option th:each="gender : ${genderList}"
            th:value="${gender.value}" th:text="${gender.label}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>血液型</label>
                    <select class="form-control" th:field="*{bloodTypeId}">
                        <option value=""></option>
                        <option th:each="bloodType : ${bloodTypeList}"
            th:value="${bloodType.value}" th:text="${bloodType.label}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <span th:if="${! #lists.isEmpty(teamList)}">
                      <label>所属チーム</label>
                      <select class="form-control" id="teamId" name="teamName">
                          <option th:each="teams : ${teamList}"
                                  th:value="${teams.teamId.getValue()}" th:text="${teams.teamName.getValue()}">
                          </option>
                      </select>
                    </span>
                </div>
                <div class="form-group">
                    <label>セールスポイント</label>
                    <textarea type="text" class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label>趣味</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>出身地</label>
                    <select class="form-control" th:field="*{cityId}">
                        <option value=""></option>
                        <option th:each="city : ${cityList}"
            th:value="${city.value}" th:text="${city.label}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>自己紹介資料</label>
                    <input type="file" class="form-control-file"/>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header">経歴</div>
            <div class="card-body">
                <div class="form-row" >
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="yyyy" >
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control" placeholder="M"  >
                    </div>
                    <div class="form-group col-md-1 text-center">
                        <label>～</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="yyyy" >
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control" placeholder="M"  >
                    </div>
                </div>
                <div class="form-row border-bottom border-secondary" >
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="PJ名"  >
                    </div>
                    <div class="form-group col-md-7">
                        <input type="text" class="form-control" placeholder="業務内容"  >
                    </div>
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="yyyy" >
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control" placeholder="M"  >
                    </div>
                    <div class="form-group col-md-1 text-center">
                        <label>～</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="yyyy" >
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control" placeholder="M"  >
                    </div>
                </div>
                <div class="form-row border-bottom border-secondary" >
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="PJ名"  >
                    </div>
                    <div class="form-group col-md-7">
                        <input type="text" class="form-control" placeholder="業務内容"  >
                    </div>
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="yyyy" >
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control" placeholder="M"  >
                    </div>
                    <div class="form-group col-md-1 text-center">
                        <label>～</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="yyyy" >
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control" placeholder="M"  >
                    </div>
                </div>
                <div class="form-row border-bottom border-secondary" >
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="PJ名"  >
                    </div>
                    <div class="form-group col-md-7">
                        <input type="text" class="form-control" placeholder="業務内容"  >
                    </div>
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="yyyy" >
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control" placeholder="M"  >
                    </div>
                    <div class="form-group col-md-1 text-center">
                        <label>～</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="yyyy" >
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control" placeholder="M"  >
                    </div>
                </div>
                <div class="form-row border-bottom border-secondary" >
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="PJ名"  >
                    </div>
                    <div class="form-group col-md-7">
                        <input type="text" class="form-control" placeholder="業務内容"  >
                    </div>
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="yyyy" >
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control" placeholder="M"  >
                    </div>
                    <div class="form-group col-md-1 text-center">
                        <label>～</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="yyyy" >
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control" placeholder="M"  >
                    </div>
                </div>
                <div class="form-row border-bottom border-secondary" >
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" placeholder="PJ名"  >
                    </div>
                    <div class="form-group col-md-7">
                        <input type="text" class="form-control" placeholder="業務内容"  >
                    </div>
                </div>
            </div>
        </div>
        <div class="float-right mb-3">
            <button type="submit" class="btn btn-primary" name="submit">登録</button>
        </div>
    </form>
</div>
</body>
</html>