<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${profile.lastName} + 'さんのアルバム'">首藤のアルバム</title>
</head>
<body>
<div layout:fragment="content">
    <h2>基本情報</h2>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="../../static/image/0.jpg" th:src="@{'/album/image/' + ${profile.profileImageFilename}}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <p>
                            <span th:text="${profile.lastName} + ' ' + ${profile.firstName}">首藤 優志</span>
                            <div th:if="${#strings.isEmpty(profile.yearly) == false}" th:remove="tag">
                                <span class="badge badge-pill badge-info ml-1" th:text="${profile.yearly} + '年目'">1年目</span>
                            </div>
                            <div th:switch="${profile.sex}" th:remove="tag">
                                <span th:case="0" class="badge badge-pill badge-primary ml-1">男</span>
                                <span th:case="1" class="badge badge-pill badge-danger ml-1">女</span>
                                <span th:case="*"></span>
                            </div>
                            <div th:switch="${profile.bloodType}" th:remove="tag">
                                <span th:case="0" class="badge badge-pill badge-primary ml-1">A型</span>
                                <span th:case="1" class="badge badge-pill badge-primary ml-1">B型</span>
                                <span th:case="2" class="badge badge-pill badge-primary ml-1">O型</span>
                                <span th:case="3" class="badge badge-pill badge-primary ml-1">AB型</span>
                                <span th:case="*"></span>
                            </div>
                        </p>
                    </h5>
                    <p class="card-text">
                        <dl class="row">
                            <dt class="col-sm-3">社員番号</dt>
                            <dd class="col-sm-9" th:text="${profile.employeeId}">305575</dd>

                            <dt class="col-sm-3">所属チーム</dt>
                            <dd class="col-sm-9" th:text="${#strings.defaultString(profile.team,'−')}">標準化（ED1）</dd>

                            <dt class="col-sm-3">担当顧客</dt>
                            <dd class="col-sm-9" th:text="${#strings.defaultString(profile.customer,'−')}">なし</dd>

                            <dt class="col-sm-3">担当案件</dt>
                            <dd class="col-sm-9" th:text="${#strings.defaultString(profile.project,'−')}">サービス改善</dd>

                            <dt class="col-sm-3">プライベート</dt>
                            <dd class="col-sm-9" th:text="${#strings.defaultString(profile.privateSentence,'−')}">猫飼ってます</dd>

                            <dt class="col-sm-3">コメント</dt>
                            <dd class="col-sm-9" th:text="${#strings.defaultString(profile.comment,'−')}">よろ</dd>
                        </dl>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h2>経歴</h2>
    <table class="table table-bordered" width="80%">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">年</th>
            <th scope="col">月</th>
            <th scope="col">出来事</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first" th:each="career,stat : ${allCareers}">
        <tr>
            <th scope="row" th:text="${stat.count}">1</th>
            <td th:text="${career.year}">2018</td>
            <td th:text="${career.month}">4月</td>
            <td th:text="${career.event}">入社</td>
        </tr>
        <tr>
            <th scope="row" th:text="${stat.count}">1</th>
            <td th:text="${career.year}">2018</td>
            <td th:text="${career.month}">8月</td>
            <td th:text="${career.event}">うんやかんや新人研修終了</td>
        </tr>
        </tbody>
    </table>
    <div class="float-right mb-3">
        <form th:action="@{/album/{employeeId}(employeeId=${profile.employeeId})}" enctype="multipart/form-data" method="post" th:object="${profileForm}">
            <button type="submit" name="delete" class="btn btn-danger" >削除</button>
        </form>
    </div>
</div>
</body>
</html>